<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="input-group">
    <%= form.label :Title %>
    <%= form.text_field :Title, id: :issue_Title %>
  </div>

  <div class="input-group">
    <%= form.label :Description %>
    <%= form.text_area :Description, id: :issue_Description %>
  </div>

  <div class="input-group">
    <%= form.label :Type %>
    <%= form.select :Type, options_for_select([["Please select", ""], "Bug", "Enhancement", "Proposal", "Task"], issue[:Type]),  :class => 'genForm_dropBox' %>
  </div>

  <div class="input-group">
    <%= form.label :Priority %>
    <%= form.select :Priority, options_for_select([["Please select", ""], "Trivial", "Minor", "Major", "Critical", "Blocker"], issue[:Priority]), :class => 'genForm_dropBox' %>
  </div>

  <div class="input-group">
    <%= form.label :Status %>
    <%= form.select :Status, options_for_select(["Open", "On hold", "Resolved", "Duplicate", "Invalid", "Won't fix", "Closed"]), :class => 'genForm_dropBox' %>
  </div>

  <div class="input-group">
    <%= form.label :Assignee %>
    <%= form.collection_select :assignee_id, User.all, :id, :name, prompt: true %>
  </div>

  <div class="input-group" style="visibility:hidden">
    <%= form.label :Creator %>
    <%= form.text_field :user_id, id: :issue_user_id, value: 1 %>
  </div>

  <div class="actions">
    <%= form.submit 'Create issue', :class => 'submit' %>
    <%= link_to 'Cancel', issues_path, :class => 'cancel' %>
  </div>
  
<% end %>
