<!DOCTYPE html>
    <p id="notice"><%= notice %></p>

    <%= link_to 'New Issue', new_issue_path, class:"btn btn-lg btn-primary", id:"new" %>

    <h1 class="titolprincipal">Issues</h1>
    
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Type</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Votes</th>
          <th>Assignee</th>
          <th>Creator</th>
          <th>Created</th>
          <th>Updated</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @issues.each do |issue| %>
          <tr>
            <td><%= link_to issue.Title , issue %></td>
            <td><%= issue.Type %></td>
            <td><%= issue.Priority %></td>
            <td><%= issue.Status %></td>
            <td><%= issue.Votes %></td>
            <td><%= issue.assignee.name %></td>
            <td><%= issue.user.name %></td>
            <td><%= issue.created_at %></td>
            <td><%= issue.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>