<!DOCTYPE html>
    <p id="notice"><%= notice %></p>

    <%= link_to 'New Issue', new_issue_path, class:"btn btn-primary btn-lg active", id:"new" %>

    <h1 class="titolprincipal">Issues</h1>
    
    <ul class="nav nav-pills">
      
      <li class="nav-item">
          Filter by:
        </li>
      
      <li class="nav-item">
        <a class="nav-link active" href="#">Assigned</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Reported</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Participating</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Watching</a>
      </li>     

      <li class="nav-item">
        <a class="nav-link" href="#">Teams</a>
      </li>

    </ul>
    
    <table class="table table-sm marges">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Type</th>
          <th scope="col">Priority</th>
          <th scope="col">Status</th>
          <th scope="col">Votes</th>
          <th scope="col">Assignee</th>
          <th scope="col">Creator</th>
          <th scope="col">Created</th>
          <th scope="col">Updated</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @issues.each do |issue| %>
          <tr>
            <td><%= link_to issue.Title , issue, class:"btn-link" %></td>
            <td><%= issue.Type %></td>
            <td><%= issue.Priority %></td>
            <td><%= issue.Status %></td>
            <td><%= issue.Votes %></td>
            <td><%= issue.assignee.name %></td>
            <td><%= issue.user.name %></td>
            <td><%= issue.created_at %></td>
            <td><%= issue.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>