<p id="notice"><%= notice %></p>

<div class="header">
  <div class="section-title">
    <h1><%= @issue.Title %></h1>
  </div>
  <div class="page-actions">
    <% if current_user %>
      <%= link_to new_issue_path, class: 'create-button' do %>
        <span class="add-icon">+</span>
        <span class="createi-button">Create issue</span>
      <% end %>
    <% end %>
  </div>
</div>

<div class="main-view">
  <div class="issue-header">
    <span class="issue-id">
      Issue #<%= @issue.id %>
    </span>
    <span class="issue-status">
      <%= @issue.Status %>
    </span>
    <div class="issue-toolbar">
      
      <% if current_user %>
      
          <p class="resol">
            <% if @issue.Status == "Open" || @issue.Status == "New" %>
              <a class="resolved"> <%= link_to 'Resolve', update_status_url(id: @issue.id, status: "Resolved") %> </a>
            <% else %>
              <%= link_to 'Open', update_status_url(id: @issue.id, status: "Open"), class:'open'%>
            <% end %>
          </p>
          
          <div class="dropdown">
              <button class="show-button dropdown-toggle" type="button" data-toggle="dropdown">Workflow
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <% Issue.status.each do |status| %>
                  <% if status != @issue.Status %>
                    <%= content_tag(:li, link_to(status, update_status_url(id: @issue.id, status: status))) %>
                  <% end %>
                <% end %>
              </ul>
          </div>
      
          <a href="/issues/<%= @issue.id %>/attach" class="show-button">Attach</a>

          <a href="/issues/<%= @issue.id %>/edit" class="show-button">Edit</a>
            
          <%= link_to 'Delete', @issue,  method: :delete, class: 'show-button', data: { confirm: 'Are you sure you want to delete this issue?' } %>
      <% end %>
    </div>
  </div>
  
  <div class="issue-main-content">
    
    <div class="issue-info">

      <div class="issue-author">
        <a href="/issues?responsible=<%= @issue.user.name %>">
          
          <!-- AQUI ES POSARIA LA FOTO DE PERFIL --> 
          
          <span title="author-name"><%= @issue.user.name %></span>
        </a>
        created an issue
        <time class="created_at"><%= @issue.created_at.strftime('%Y-%m-%d')
        %></time>
      </div>

      <div class="issue-description">
        <% if !(@issue.Description == "") %>
            <p class="description"><%= @issue.Description %></p>
        <% else %>
            <p class="no-description">No description provided.</p>

        <% end %>
      </div>
    
      <!-- BLOC ATTACHMENTS -->
      
      <div class="issue-comments-container">
        
        <h2>Comments (<%= @comments.to_a.size %>)</h2>
        
        <% @issue.comments.each do |comment| %>
          <div>
          <p>
            <strong>Commenter:</strong>
            <%= comment.user.name %>
          </p>
         
          <p>
            <strong>Comment:</strong>
            <%= comment.body %>
          </p>
          <%= link_to 'Delete Comment', [comment.issue, comment],
                       method: :delete,
                       data: { confirm: 'Are you sure?' } %>
          </div>
          </br>
        <% end %>
        
        <%= form_with(model: [@issue, @issue.comments.build], local: true) do |form| %>
          <div class="input-group">
            <%= form.text_area :body, placeholder:'What do you want to say?' %>
          </div>
          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
      </div>
      
      <div class="sidebar">
        <div class="issue-attrs">
          <dl>
            <dt>Assigned to</dt>
            <dd>
              <% if !@issue.assignee.nil? %>
              <a href="/issues?responsible=<%= @issue.assignee.name%>">
                <span title="author-name"><%= @issue.assignee.name%></span>
              </a>
              <% else %>
              No one assigned
              <% end %>
            </dd>
          </dl>
          
          <dl>
            <dt>Type</dt>
            <dd class="type with-icon">
              <%= @issue.Type %>
            </dd>
          </dl>
          
          <dl>
            <dt>Priority</dt>
            <dd class="priority with-icon">
              <%= @issue.Priority %>
            </dd>
          </dl>
          
          <dl>
            <dt>Status</dt>
            <dd class="status with-icon">
              <%= @issue.Status %>
            </dd>
          </dl>
          
          <dl>
            <dt>Votes</dt>
            <dd class="votes">
                <%= @issue.Votes %>
              </span>
            </dd>
          </dl>
          
      </div>
    </div>
    
  </div>
</div>