<p id="notice"><%= notice %></p>

<%= link_to 'Create Issue', new_issue_path, class:"btn btn-primary btn-lg active", id:"create" %>

<h1 class="titolshow"> <%= @issue.Title %> </h1>

<p>
  <strong>Title:</strong>
  <%= @issue.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.Description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @issue.Type %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @issue.Priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.Status %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @issue.Votes %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @issue.assignee.name if !@issue.assignee.nil? %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @issue.user.name %>
</p>

<p>
  <strong>Created:</strong>
  <%= time_ago_in_words(@issue.created_at) + " ago" %>
</p>

<p>
  <strong>Updated:</strong>
  <%= time_ago_in_words(@issue.updated_at) + " ago" %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Destroy', @issue, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', issues_path %>
<p>
  <% if @issue.Status == "Open" || @issue.Status == "New" %> 
    <%= link_to 'Resolve', update_status_url(id: @issue.id, status: "Resolved")%>
  <% else %>
    <%= link_to 'Open', update_status_url(id: @issue.id, status: "Open")%>
  <% end %>
</p>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Workflow
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% Issue.status.each do |status| %>
        <% if status != @issue.Status %>
          <%= content_tag(:li, link_to(status, update_status_url(id: @issue.id, status: status))) %>
        <% end %>
      <% end %>
    </ul>
</div>
